@charset "UTF-8";
/* Результат $all-ranges
   (
      'tablet': 991.98,
      'mobile': 767.98,
      'mobileSmall': 479.98,
      'minTemplate': 375,
      'minWidth': 320,
      'rebuildProductSlider': 880.98,
   )
*/
:root {
  --scale-tablet: clamp(6.25e-8rem, calc(-0.44600180068125rem + 0.7193723473vw), 0.125rem);
  --scale-mobile: clamp(6.25e-8rem, calc(-0.19122230314375rem + 0.3983903032vw), 0.125rem);
  --scale-mobileSmall: clamp(6.25e-8rem, calc(-0.07594417941875rem + 0.2531580213vw), 0.125rem);
  --scale-minTemplate: clamp(6.25e-8rem, calc(-0.05539353721875rem + 0.2272674485vw), 0.125rem);
  --scale-minWidth: clamp(6.25e-8rem, calc(-0.04210517960625rem + 0.2105262105vw), 0.125rem);
  --scale-cartRebuild: clamp(6.25e-8rem, calc(-0.37106249805rem + 0.6249606275vw), 0.125rem);
  --scale-tablet-minWidth: clamp(6.25e-8rem, calc(-0.05952548885625rem + 0.2976277568vw), 0.125rem);
  --scale-mobile-minWidth: clamp(6.25e-8rem, calc(-0.0892895932875rem + 0.4464482789vw), 0.125rem);
  --scale-mobile-mobileSmall: clamp(6.25e-8rem, calc(-0.0892895932875rem + 0.4464482789vw), 0.125rem);
  --scale-mobileSmall-minWidth: clamp(6.25e-8rem, calc(-0.25003106639375rem + 1.2501556445vw), 0.125rem);
  --scale-tablet-minTemplate: clamp(6.25e-8rem, calc(-0.08097581063125rem + 0.3322257475vw), 0.125rem);
  --scale-mobile-minTemplate: clamp(6.25e-8rem, calc(-0.12896151323125rem + 0.5291002646vw), 0.125rem);
}

/* 🔍 Чи навантажує браузер перевірками?
   НІ, абсолютно не навантажує! ✅
   Чому:
   Всі ці перевірки (@if, @each, map-has-key) виконуються під час компіляції SCSS → CSS, а НЕ в браузері!

   Браузер бачить тільки фінальний CSS - жодних умов, циклів чи мап там немає. 
   Тому нуль навантаження на продакшені! 🚀
*/
/*
📋 Покрокова інструкція для твоїх змінних
*Крок 1: Додай змінні в settings.scss

$cartRebuild: 900.98;
$cartRebuildMobile: 700.98;


*Крок 2: Додай прості діапазони в adapt.scss

Для використання окремо (від container до брейкпоінту)
$custom-ranges: (
   'cartRebuild': settings.$cartRebuild,           // від container до 900.98
   'cartRebuildMobile': settings.$cartRebuildMobile, // від container до 700.98
);


*Крок 3: Додай парний діапазон (якщо потрібен)
$custom-range-pairs: (
   'tablet-minTemplate': (settings.$tablet, settings.$minTemplate),
   'cartRebuild-cartRebuildMobile': (settings.$cartRebuild, settings.$cartRebuildMobile), // від 900.98 до 700.98
);

Створи $r- (тільки для пар) змінну для автокомпліту
$r-cartRebuild-cartRebuildMobile: 'cartRebuild-cartRebuildMobile';


*Крок 4: Використовуй!

.cart {
   ✅ Від container (1200) до cartRebuildMobile (700.98)
   padding: adapt(40, 20, $cartRebuildMobile);

   ✅ Від container (1200) до cartRebuild (900.98)
   gap: adapt(30, 15, $cartRebuild);

   ✅ Від cartRebuild (900.98) до cartRebuildMobile (700.98)
   margin: adapt(24, 12, $r-cartRebuild-cartRebuildMobile);
}






*Використання:
   ✅ Прості діапазони (від container) - через змінні
   padding: adapt(40, 20, $cartRebuild);        // 900.98
   gap: adapt(30, 15, $cartRebuildMobile);      // 700.98
   margin: adapt(24, 12, $mobile);              // 767.98

   ✅ Парні діапазони - через $r-
   font-size: adapt(32, 24, $r-cart-mobile);    // від 900.98 до 700.98
   border-radius: adapt(20, 12, $r-tablet-minTemplate); // від 991.98 до 375


*/
/* Generated by vite-plugin-svg-spritemap */
.tabs__navigation {
  display: flex;
}
.tabs__title {
  border: 0.0625rem solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
}
.tabs__title.--tab-active {
  border: 0.0625rem solid #000;
}
.tabs__content {
  border: 0.0625rem solid #eee;
  padding: 0.625rem 0.9375rem;
}
/* Результат $all-ranges
   (
      'tablet': 991.98,
      'mobile': 767.98,
      'mobileSmall': 479.98,
      'minTemplate': 375,
      'minWidth': 320,
      'rebuildProductSlider': 880.98,
   )
*/
:root {
  --scale-tablet: clamp(6.25e-8rem, calc(-0.44600180068125rem + 0.7193723473vw), 0.125rem);
  --scale-mobile: clamp(6.25e-8rem, calc(-0.19122230314375rem + 0.3983903032vw), 0.125rem);
  --scale-mobileSmall: clamp(6.25e-8rem, calc(-0.07594417941875rem + 0.2531580213vw), 0.125rem);
  --scale-minTemplate: clamp(6.25e-8rem, calc(-0.05539353721875rem + 0.2272674485vw), 0.125rem);
  --scale-minWidth: clamp(6.25e-8rem, calc(-0.04210517960625rem + 0.2105262105vw), 0.125rem);
  --scale-cartRebuild: clamp(6.25e-8rem, calc(-0.37106249805rem + 0.6249606275vw), 0.125rem);
  --scale-tablet-minWidth: clamp(6.25e-8rem, calc(-0.05952548885625rem + 0.2976277568vw), 0.125rem);
  --scale-mobile-minWidth: clamp(6.25e-8rem, calc(-0.0892895932875rem + 0.4464482789vw), 0.125rem);
  --scale-mobile-mobileSmall: clamp(6.25e-8rem, calc(-0.0892895932875rem + 0.4464482789vw), 0.125rem);
  --scale-mobileSmall-minWidth: clamp(6.25e-8rem, calc(-0.25003106639375rem + 1.2501556445vw), 0.125rem);
  --scale-tablet-minTemplate: clamp(6.25e-8rem, calc(-0.08097581063125rem + 0.3322257475vw), 0.125rem);
  --scale-mobile-minTemplate: clamp(6.25e-8rem, calc(-0.12896151323125rem + 0.5291002646vw), 0.125rem);
}

/* 🔍 Чи навантажує браузер перевірками?
   НІ, абсолютно не навантажує! ✅
   Чому:
   Всі ці перевірки (@if, @each, map-has-key) виконуються під час компіляції SCSS → CSS, а НЕ в браузері!

   Браузер бачить тільки фінальний CSS - жодних умов, циклів чи мап там немає. 
   Тому нуль навантаження на продакшені! 🚀
*/
/*
📋 Покрокова інструкція для твоїх змінних
*Крок 1: Додай змінні в settings.scss

$cartRebuild: 900.98;
$cartRebuildMobile: 700.98;


*Крок 2: Додай прості діапазони в adapt.scss

Для використання окремо (від container до брейкпоінту)
$custom-ranges: (
   'cartRebuild': settings.$cartRebuild,           // від container до 900.98
   'cartRebuildMobile': settings.$cartRebuildMobile, // від container до 700.98
);


*Крок 3: Додай парний діапазон (якщо потрібен)
$custom-range-pairs: (
   'tablet-minTemplate': (settings.$tablet, settings.$minTemplate),
   'cartRebuild-cartRebuildMobile': (settings.$cartRebuild, settings.$cartRebuildMobile), // від 900.98 до 700.98
);

Створи $r- (тільки для пар) змінну для автокомпліту
$r-cartRebuild-cartRebuildMobile: 'cartRebuild-cartRebuildMobile';


*Крок 4: Використовуй!

.cart {
   ✅ Від container (1200) до cartRebuildMobile (700.98)
   padding: adapt(40, 20, $cartRebuildMobile);

   ✅ Від container (1200) до cartRebuild (900.98)
   gap: adapt(30, 15, $cartRebuild);

   ✅ Від cartRebuild (900.98) до cartRebuildMobile (700.98)
   margin: adapt(24, 12, $r-cartRebuild-cartRebuildMobile);
}






*Використання:
   ✅ Прості діапазони (від container) - через змінні
   padding: adapt(40, 20, $cartRebuild);        // 900.98
   gap: adapt(30, 15, $cartRebuildMobile);      // 700.98
   margin: adapt(24, 12, $mobile);              // 767.98

   ✅ Парні діапазони - через $r-
   font-size: adapt(32, 24, $r-cart-mobile);    // від 900.98 до 700.98
   border-radius: adapt(20, 12, $r-tablet-minTemplate); // від 991.98 до 375


*/
/* Generated by vite-plugin-svg-spritemap */
[data-fls-showmore-button] span:last-child {
  display: none;
}
.--showmore-active [data-fls-showmore-button] span {
  display: none;
}
.--showmore-active [data-fls-showmore-button] span:last-child {
  display: block;
}
/* Результат $all-ranges
   (
      'tablet': 991.98,
      'mobile': 767.98,
      'mobileSmall': 479.98,
      'minTemplate': 375,
      'minWidth': 320,
      'rebuildProductSlider': 880.98,
   )
*/
:root {
  --scale-tablet: clamp(6.25e-8rem, calc(-0.44600180068125rem + 0.7193723473vw), 0.125rem);
  --scale-mobile: clamp(6.25e-8rem, calc(-0.19122230314375rem + 0.3983903032vw), 0.125rem);
  --scale-mobileSmall: clamp(6.25e-8rem, calc(-0.07594417941875rem + 0.2531580213vw), 0.125rem);
  --scale-minTemplate: clamp(6.25e-8rem, calc(-0.05539353721875rem + 0.2272674485vw), 0.125rem);
  --scale-minWidth: clamp(6.25e-8rem, calc(-0.04210517960625rem + 0.2105262105vw), 0.125rem);
  --scale-cartRebuild: clamp(6.25e-8rem, calc(-0.37106249805rem + 0.6249606275vw), 0.125rem);
  --scale-tablet-minWidth: clamp(6.25e-8rem, calc(-0.05952548885625rem + 0.2976277568vw), 0.125rem);
  --scale-mobile-minWidth: clamp(6.25e-8rem, calc(-0.0892895932875rem + 0.4464482789vw), 0.125rem);
  --scale-mobile-mobileSmall: clamp(6.25e-8rem, calc(-0.0892895932875rem + 0.4464482789vw), 0.125rem);
  --scale-mobileSmall-minWidth: clamp(6.25e-8rem, calc(-0.25003106639375rem + 1.2501556445vw), 0.125rem);
  --scale-tablet-minTemplate: clamp(6.25e-8rem, calc(-0.08097581063125rem + 0.3322257475vw), 0.125rem);
  --scale-mobile-minTemplate: clamp(6.25e-8rem, calc(-0.12896151323125rem + 0.5291002646vw), 0.125rem);
}

/* 🔍 Чи навантажує браузер перевірками?
   НІ, абсолютно не навантажує! ✅
   Чому:
   Всі ці перевірки (@if, @each, map-has-key) виконуються під час компіляції SCSS → CSS, а НЕ в браузері!

   Браузер бачить тільки фінальний CSS - жодних умов, циклів чи мап там немає. 
   Тому нуль навантаження на продакшені! 🚀
*/
/*
📋 Покрокова інструкція для твоїх змінних
*Крок 1: Додай змінні в settings.scss

$cartRebuild: 900.98;
$cartRebuildMobile: 700.98;


*Крок 2: Додай прості діапазони в adapt.scss

Для використання окремо (від container до брейкпоінту)
$custom-ranges: (
   'cartRebuild': settings.$cartRebuild,           // від container до 900.98
   'cartRebuildMobile': settings.$cartRebuildMobile, // від container до 700.98
);


*Крок 3: Додай парний діапазон (якщо потрібен)
$custom-range-pairs: (
   'tablet-minTemplate': (settings.$tablet, settings.$minTemplate),
   'cartRebuild-cartRebuildMobile': (settings.$cartRebuild, settings.$cartRebuildMobile), // від 900.98 до 700.98
);

Створи $r- (тільки для пар) змінну для автокомпліту
$r-cartRebuild-cartRebuildMobile: 'cartRebuild-cartRebuildMobile';


*Крок 4: Використовуй!

.cart {
   ✅ Від container (1200) до cartRebuildMobile (700.98)
   padding: adapt(40, 20, $cartRebuildMobile);

   ✅ Від container (1200) до cartRebuild (900.98)
   gap: adapt(30, 15, $cartRebuild);

   ✅ Від cartRebuild (900.98) до cartRebuildMobile (700.98)
   margin: adapt(24, 12, $r-cartRebuild-cartRebuildMobile);
}






*Використання:
   ✅ Прості діапазони (від container) - через змінні
   padding: adapt(40, 20, $cartRebuild);        // 900.98
   gap: adapt(30, 15, $cartRebuildMobile);      // 700.98
   margin: adapt(24, 12, $mobile);              // 767.98

   ✅ Парні діапазони - через $r-
   font-size: adapt(32, 24, $r-cart-mobile);    // від 900.98 до 700.98
   border-radius: adapt(20, 12, $r-tablet-minTemplate); // від 991.98 до 375


*/
/* Generated by vite-plugin-svg-spritemap */
:root {
  --gapBody: clamp(1.875rem, calc(0.91888769371875rem + 1.9919525119vw), 2.5rem);
  --gapSlider: 0.875rem;
  --spaceBetweenThumbs: 0.875rem;
  --Sliders-Base-Width: 50%;
  --content-Base-Width: 50%;
  --mainSlider-Base-Width: 74%;
  --thumbSlider-Base-Width: 26%;
}
.product-detail__body {
  display: flex;
  gap: var(--gapBody);
}
.product-detail__gallery {
  display: flex;
  gap: var(--gapSlider);
  flex: 1 1 calc(var(--Sliders-Base-Width) - var(--gapBody) / 2 + 0.8125rem);
}
.product-detail__gallery > * {
  min-width: 0;
  overflow: hidden;
}
.product-detail__gallery {
  min-width: 0;
}
.product-detail__content {
  flex: 1 1 calc(var(--content-Base-Width) - var(--gapBody) / 2 - 0.8125rem);
}
.product-detail-gallery__thumbnails, .product-detail-gallery__main {
  max-height: 100%;
}
.product-detail-gallery__main {
  flex: 1 1 calc(var(--mainSlider-Base-Width) - var(--gapSlider) / 2);
  border-radius: 1.25rem;
}
.product-detail-gallery__slide {
  background-color: var(--productSlider);
}
.product-detail-gallery__slide img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: contain;
}
.product-detail-gallery__slide.product-detail-gallery__slide--cover img {
  object-fit: cover;
}

.thumbs-product-gallery {
  flex: 1 1 calc(var(--thumbSlider-Base-Width) - var(--gapSlider) / 2);
  --MinWidth-thumbsSlide: clamp(5rem, calc(-0.22393867924375rem + 9.4339622642vw), 5.625rem);
}
.thumbs-product-gallery__slide {
  display: block;
  flex: 1 0 calc(33.33% - var(--spaceBetweenThumbs));
  background-color: var(--productSlider);
  border-radius: 1.25rem;
  transition: border 0.3s;
  cursor: pointer;
  border: 0.0625rem solid transparent;
}
.thumbs-product-gallery__slide.swiper-slide-thumb-active {
  border: 0.0625rem solid var(--primary);
}
.thumbs-product-gallery__slide {
  overflow: hidden;
}
.thumbs-product-gallery__slide.swiper-slide-thumb-active img {
  scale: 1.05;
}
.thumbs-product-gallery__slide img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: scale 0.3s;
}
.thumbs-product-gallery__slide.thumbs-product-gallery__slide--cover img {
  object-fit: cover;
}

.colors-content-product-detail, .product-detail-size {
  --spaceColorsSize: clamp(0.875rem, calc(0.009830217175rem + 1.562418624vw), 1.25rem);
  padding-block: var(--spaceColorsSize);
  border-block: 0.0625rem solid var(--primary-10);
}
.colors-content-product-detail__title, .product-detail-size__title {
  padding-bottom: 0.625rem;
}

.colors-content-product-detail {
  margin-top: var(--spaceColorsSize);
}

.product-detail-size {
  margin-bottom: calc(var(--spaceColorsSize) + 0.25rem);
}
.content-product-detail__header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.125rem;
}
.content-product-detail__title {
  color: var(--primary);
}
.content-product-detail__rating {
  font-size: 1rem;
}
.content-product-detail__rating img {
  --starWidthDescriptionSlider: clamp(1.3125rem, calc(0.7775366842875rem + 0.9660955159vw), 1.544375rem);
  --starWidth: var(--starWidthDescriptionSlider);
}
.content-product-detail .content-product-detail__price {
  gap: 0.75rem;
}
.content-product-detail .content-product-detail__price .product-price__old {
  color: var(--primary-30);
}
.content-product-detail .content-product-detail__price .product-price__sale {
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  font-size: 0.875rem;
}
.product-detail-size__options {
  display: flex;
  flex-wrap: wrap;
}
.product-detail-size__options .button--third {
  padding-block: calc(0.8125rem + clamp(6.25e-8rem, calc(-0.05539353721875rem + 0.2272674485vw), 0.125rem));
  padding-inline: calc(1.25rem + clamp(6.25e-8rem, calc(-0.05539353721875rem + 0.2272674485vw), 0.125rem) * 2);
  font-size: calc(0.875rem + clamp(6.25e-8rem, calc(-0.05539353721875rem + 0.2272674485vw), 0.125rem));
}
.product-detail-actions {
  display: flex;
  flex-wrap: wrap;
}
.product-detail-actions__cart {
  padding-inline: 2.1875rem;
  flex-grow: 1;
}
/* Результат $all-ranges
   (
      'tablet': 991.98,
      'mobile': 767.98,
      'mobileSmall': 479.98,
      'minTemplate': 375,
      'minWidth': 320,
      'rebuildProductSlider': 880.98,
   )
*/
:root {
  --scale-tablet: clamp(6.25e-8rem, calc(-0.44600180068125rem + 0.7193723473vw), 0.125rem);
  --scale-mobile: clamp(6.25e-8rem, calc(-0.19122230314375rem + 0.3983903032vw), 0.125rem);
  --scale-mobileSmall: clamp(6.25e-8rem, calc(-0.07594417941875rem + 0.2531580213vw), 0.125rem);
  --scale-minTemplate: clamp(6.25e-8rem, calc(-0.05539353721875rem + 0.2272674485vw), 0.125rem);
  --scale-minWidth: clamp(6.25e-8rem, calc(-0.04210517960625rem + 0.2105262105vw), 0.125rem);
  --scale-cartRebuild: clamp(6.25e-8rem, calc(-0.37106249805rem + 0.6249606275vw), 0.125rem);
  --scale-tablet-minWidth: clamp(6.25e-8rem, calc(-0.05952548885625rem + 0.2976277568vw), 0.125rem);
  --scale-mobile-minWidth: clamp(6.25e-8rem, calc(-0.0892895932875rem + 0.4464482789vw), 0.125rem);
  --scale-mobile-mobileSmall: clamp(6.25e-8rem, calc(-0.0892895932875rem + 0.4464482789vw), 0.125rem);
  --scale-mobileSmall-minWidth: clamp(6.25e-8rem, calc(-0.25003106639375rem + 1.2501556445vw), 0.125rem);
  --scale-tablet-minTemplate: clamp(6.25e-8rem, calc(-0.08097581063125rem + 0.3322257475vw), 0.125rem);
  --scale-mobile-minTemplate: clamp(6.25e-8rem, calc(-0.12896151323125rem + 0.5291002646vw), 0.125rem);
}

/* 🔍 Чи навантажує браузер перевірками?
   НІ, абсолютно не навантажує! ✅
   Чому:
   Всі ці перевірки (@if, @each, map-has-key) виконуються під час компіляції SCSS → CSS, а НЕ в браузері!

   Браузер бачить тільки фінальний CSS - жодних умов, циклів чи мап там немає. 
   Тому нуль навантаження на продакшені! 🚀
*/
/*
📋 Покрокова інструкція для твоїх змінних
*Крок 1: Додай змінні в settings.scss

$cartRebuild: 900.98;
$cartRebuildMobile: 700.98;


*Крок 2: Додай прості діапазони в adapt.scss

Для використання окремо (від container до брейкпоінту)
$custom-ranges: (
   'cartRebuild': settings.$cartRebuild,           // від container до 900.98
   'cartRebuildMobile': settings.$cartRebuildMobile, // від container до 700.98
);


*Крок 3: Додай парний діапазон (якщо потрібен)
$custom-range-pairs: (
   'tablet-minTemplate': (settings.$tablet, settings.$minTemplate),
   'cartRebuild-cartRebuildMobile': (settings.$cartRebuild, settings.$cartRebuildMobile), // від 900.98 до 700.98
);

Створи $r- (тільки для пар) змінну для автокомпліту
$r-cartRebuild-cartRebuildMobile: 'cartRebuild-cartRebuildMobile';


*Крок 4: Використовуй!

.cart {
   ✅ Від container (1200) до cartRebuildMobile (700.98)
   padding: adapt(40, 20, $cartRebuildMobile);

   ✅ Від container (1200) до cartRebuild (900.98)
   gap: adapt(30, 15, $cartRebuild);

   ✅ Від cartRebuild (900.98) до cartRebuildMobile (700.98)
   margin: adapt(24, 12, $r-cartRebuild-cartRebuildMobile);
}






*Використання:
   ✅ Прості діапазони (від container) - через змінні
   padding: adapt(40, 20, $cartRebuild);        // 900.98
   gap: adapt(30, 15, $cartRebuildMobile);      // 700.98
   margin: adapt(24, 12, $mobile);              // 767.98

   ✅ Парні діапазони - через $r-
   font-size: adapt(32, 24, $r-cart-mobile);    // від 900.98 до 700.98
   border-radius: adapt(20, 12, $r-tablet-minTemplate); // від 991.98 до 375


*/
/* Generated by vite-plugin-svg-spritemap */
.options-dots {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  padding: 0.3125rem;
  margin: -0.3125rem;
}
.options-dots svg path {
  transition: fill-opacity 0.15s;
}
.options-dots svg {
  width: 1.5rem;
  height: 1.5rem;
}
.options-dots:active {
  background-color: rgba(65, 65, 65, 0.5);
}
.options-dots:not(:active) {
  animation: fadeOut-options 0.9s;
}
@keyframes fadeOut-options {
  0% {
    outline: 0.0625rem solid rgba(90, 90, 90, 0.5);
  }
  50% {
    outline: 0.0625rem solid rgba(90, 90, 90, 0);
  }
  100% {
    background-color: transparent;
    outline: 0.0625rem solid rgba(90, 90, 90, 0);
  }
}
/* Результат $all-ranges
   (
      'tablet': 991.98,
      'mobile': 767.98,
      'mobileSmall': 479.98,
      'minTemplate': 375,
      'minWidth': 320,
      'rebuildProductSlider': 880.98,
   )
*/
:root {
  --scale-tablet: clamp(6.25e-8rem, calc(-0.44600180068125rem + 0.7193723473vw), 0.125rem);
  --scale-mobile: clamp(6.25e-8rem, calc(-0.19122230314375rem + 0.3983903032vw), 0.125rem);
  --scale-mobileSmall: clamp(6.25e-8rem, calc(-0.07594417941875rem + 0.2531580213vw), 0.125rem);
  --scale-minTemplate: clamp(6.25e-8rem, calc(-0.05539353721875rem + 0.2272674485vw), 0.125rem);
  --scale-minWidth: clamp(6.25e-8rem, calc(-0.04210517960625rem + 0.2105262105vw), 0.125rem);
  --scale-cartRebuild: clamp(6.25e-8rem, calc(-0.37106249805rem + 0.6249606275vw), 0.125rem);
  --scale-tablet-minWidth: clamp(6.25e-8rem, calc(-0.05952548885625rem + 0.2976277568vw), 0.125rem);
  --scale-mobile-minWidth: clamp(6.25e-8rem, calc(-0.0892895932875rem + 0.4464482789vw), 0.125rem);
  --scale-mobile-mobileSmall: clamp(6.25e-8rem, calc(-0.0892895932875rem + 0.4464482789vw), 0.125rem);
  --scale-mobileSmall-minWidth: clamp(6.25e-8rem, calc(-0.25003106639375rem + 1.2501556445vw), 0.125rem);
  --scale-tablet-minTemplate: clamp(6.25e-8rem, calc(-0.08097581063125rem + 0.3322257475vw), 0.125rem);
  --scale-mobile-minTemplate: clamp(6.25e-8rem, calc(-0.12896151323125rem + 0.5291002646vw), 0.125rem);
}

/* 🔍 Чи навантажує браузер перевірками?
   НІ, абсолютно не навантажує! ✅
   Чому:
   Всі ці перевірки (@if, @each, map-has-key) виконуються під час компіляції SCSS → CSS, а НЕ в браузері!

   Браузер бачить тільки фінальний CSS - жодних умов, циклів чи мап там немає. 
   Тому нуль навантаження на продакшені! 🚀
*/
/*
📋 Покрокова інструкція для твоїх змінних
*Крок 1: Додай змінні в settings.scss

$cartRebuild: 900.98;
$cartRebuildMobile: 700.98;


*Крок 2: Додай прості діапазони в adapt.scss

Для використання окремо (від container до брейкпоінту)
$custom-ranges: (
   'cartRebuild': settings.$cartRebuild,           // від container до 900.98
   'cartRebuildMobile': settings.$cartRebuildMobile, // від container до 700.98
);


*Крок 3: Додай парний діапазон (якщо потрібен)
$custom-range-pairs: (
   'tablet-minTemplate': (settings.$tablet, settings.$minTemplate),
   'cartRebuild-cartRebuildMobile': (settings.$cartRebuild, settings.$cartRebuildMobile), // від 900.98 до 700.98
);

Створи $r- (тільки для пар) змінну для автокомпліту
$r-cartRebuild-cartRebuildMobile: 'cartRebuild-cartRebuildMobile';


*Крок 4: Використовуй!

.cart {
   ✅ Від container (1200) до cartRebuildMobile (700.98)
   padding: adapt(40, 20, $cartRebuildMobile);

   ✅ Від container (1200) до cartRebuild (900.98)
   gap: adapt(30, 15, $cartRebuild);

   ✅ Від cartRebuild (900.98) до cartRebuildMobile (700.98)
   margin: adapt(24, 12, $r-cartRebuild-cartRebuildMobile);
}






*Використання:
   ✅ Прості діапазони (від container) - через змінні
   padding: adapt(40, 20, $cartRebuild);        // 900.98
   gap: adapt(30, 15, $cartRebuildMobile);      // 700.98
   margin: adapt(24, 12, $mobile);              // 767.98

   ✅ Парні діапазони - через $r-
   font-size: adapt(32, 24, $r-cart-mobile);    // від 900.98 до 700.98
   border-radius: adapt(20, 12, $r-tablet-minTemplate); // від 991.98 до 375


*/
/* Generated by vite-plugin-svg-spritemap */
.tabs-product-info__navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.625rem;
  border-bottom: 0.0625rem solid var(--primary-10);
  position: relative;
  --columns: 3;
  --thirdCol: 1;
}
.tabs-product-info__navigation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.125rem;
  background-color: var(--primary);
  transition: all 0.6s ease;
  width: calc((100% - 1.25rem) / var(--columns));
  transform: translateX(0);
}
.tabs-product-info__navigation:has(.tabs-product-info__title:nth-child(1).--tab-active)::after {
  width: calc((100% - 1.25rem) / var(--columns));
  transform: translateX(0);
}
.tabs-product-info__navigation:has(.tabs-product-info__title:nth-child(2).--tab-active)::after {
  width: calc((100% - 1.25rem) / var(--columns));
  transform: translateX(calc(100% + 0.625rem));
}
.tabs-product-info__navigation:has(.tabs-product-info__title:nth-child(3).--tab-active)::after {
  width: calc((100% - 1.25rem) * var(--thirdCol) / var(--columns));
  transform: translateX(calc(200% / var(--thirdCol) + 1.25rem));
}
.tabs-product-info__title {
  font-size: 1.25rem;
  line-height: 0.90909091; /* 20/22 */
  color: var(--primary-60);
  transition: color 0.3s, font-weight 0.3s;
  padding-block: 1.5rem;
}
.tabs-product-info__title.--tab-active {
  color: var(--primary);
  font-weight: 500;
}
.reviews-product-info__reviews {
  display: grid;
  gap: 1.25rem;
}
.reviews-product-info__load-more {
  display: flex;
  justify-self: center;
  padding-block: 0.9375rem;
}

.header-reviews-product-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.625rem;
}
.header-reviews-product-info__actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.625rem;
}
.header-reviews-product-info .select__title {
  padding-block: calc(0.75rem + clamp(6.25e-8rem, calc(-0.16195172425625rem + 0.6644516611vw), 0.25rem));
  padding-inline: calc(1rem + clamp(6.25e-8rem, calc(-0.16195172425625rem + 0.6644516611vw), 0.25rem));
  font-size: calc(0.75rem + clamp(6.25e-8rem, calc(-0.16195172425625rem + 0.6644516611vw), 0.25rem));
  background-color: var(--mutedGray);
  color: var(--primary);
  border-radius: 3.875rem;
  transition: color 0.3s, background-color 0.3s;
  text-decoration: none;
}
.header-reviews-product-info .select__title .select__content {
  padding-bottom: 0;
}
.header-reviews-product-info .select__scroll {
  max-width: 13.75rem;
}
.header-reviews-product-info__filters {
  padding: calc(0.625rem + clamp(6.25e-8rem, calc(-0.16195172425625rem + 0.6644516611vw), 0.25rem) / 2);
  border-radius: 50%;
  align-self: center;
}
.header-reviews-product-info__filters svg {
  width: 1.5rem;
  height: 1.5rem;
}
.header-reviews-product-info__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header-reviews-product-info__title h2 {
  font-weight: 700;
}
.header-reviews-product-info__title span {
  color: var(--primary-60);
  line-height: 0.72727273; /* 16/22 */
}
.header-reviews-product-info__button {
  font-size: calc(0.75rem + clamp(6.25e-8rem, calc(-0.16195172425625rem + 0.6644516611vw), 0.25rem));
}

.product-detail-size__options {
  display: flex;
  flex-wrap: wrap;
}
.also-like {
  padding-bottom: 0;
}
.also-like .productslider__slider {
  padding-bottom: 0;
}
@media (width <= 55.37375em){
  .content-product-detail__title {
    font-size: 2.1875rem;
  }
  .content-product-detail .content-product-detail__price .product-price__new, .content-product-detail .content-product-detail__price .product-price__old {
    font-size: 1.75rem;
  }
}
@media (max-width: 55.37375em) and (width <= 24.37375em){
  .content-product-detail__title {
    font-size: 1.5rem;
  }
  .content-product-detail .content-product-detail__price .product-price__new, .content-product-detail .content-product-detail__price .product-price__old {
    font-size: 1.5rem;
  }
}
@media (max-width: 55.37375em){
  .product-detail__body {
    flex-wrap: wrap;
  }
  .product-detail__content {
    flex: 1 1 auto;
    background-color: var(--lite);
  }
  .content-product-detail__rating img {
    --starWidthDescriptionSlider: clamp(1.166875rem, calc(0.7774108465625rem + 1.5978835979vw), 1.544375rem);
  }
}
@media (max-width: 47.99875em){
  :root {
    --gapBody: 1.25rem;
  }
  .content-product-detail__colors .chose-color__color {
    width: 2.44625rem;
    height: 2.44625rem;
  }
  .tabs-product-info__title {
    font-size: 1.125rem;
    padding-block: 1.375rem;
  }
  .reviews-product-info__reviews {
    gap: 1rem;
  }
  .reviews-product-info__load-more {
    padding-block: 0.875rem;
  }
  .header-reviews-product-info__title span {
    font-size: 0.875rem;
  }
}
@media (max-width: 29.99875em) and (min-width: 23.74875em){
  .tabs-product-info__navigation {
    --columns: 2.6;
    --thirdCol: 0.6;
    grid-template-columns: repeat(2, 1fr) 0.6fr;
  }
}
@media (max-width: 29.99875em){
  :root {
    --gapSlider: 0.75rem;
    --spaceBetweenThumbs: 0.75rem;
  }
  .content-product-detail .color-picker {
    gap: 0.76875rem;
  }
  .content-product-detail__header {
    gap: 1rem;
  }
  .content-product-detail .content-product-detail__price {
    gap: 0.625rem;
  }
  .tabs-product-info__title {
    font-size: 1rem;
    padding-block: 1.28125rem;
  }
  .header-reviews-product-info__actions {
    gap: 0.5rem;
    flex: 1 1 100%;
    justify-content: space-between;
  }
  .header-reviews-product-info__title {
    gap: 0.375rem;
  }
  .header-reviews-product-info__button {
    padding-block: 0.75rem;
  }
}
@media (width <= 24.37375em){
  .product-detail__body {
    padding-bottom: 1.875rem;
  }
  .product-detail-size__options {
    gap: 0.5rem;
  }
  .product-detail-actions {
    gap: 0.75rem;
  }
  .reviews-product-info__load-more {
    padding-inline: 2.25rem;
  }
  .reviews-product-info__load-more {
    margin-top: 1.25rem;
  }
  .header-reviews-product-info {
    padding-block: 1.25rem;
  }
  .header-reviews-product-info__title h2 {
    font-size: 1.25rem;
  }
  .header-reviews-product-info__button {
    padding-inline: 1rem;
  }
  .product-detail-size__options {
    gap: 0.5rem;
  }
}
@media (max-width: 24.37375em) and (width <= 20em){
  .thumbs-product-gallery__slide {
    max-height: 5.625rem;
  }
}
@media (max-width: 24.37375em){
  .product-detail__gallery {
    flex-wrap: wrap;
  }
  .product-detail__gallery > *:nth-child(odd) {
    order: 2;
  }
  .product-detail__gallery > *:nth-child(even) {
    order: 1;
  }
  .product-detail-gallery__main {
    flex: 1 1 100%;
  }
  .product-detail-gallery__slide {
    max-height: 21.875rem;
  }
  .thumbs-product-gallery__wrapper > :not(:last-child) {
    margin-right: var(--spaceBetweenThumbs);
  }
}
@media (max-width: 23.74875em){
  .tabs-product-info__navigation {
    --columns: 2.8;
    --thirdCol: 0.8;
    grid-template-columns: repeat(2, 1fr) 0.8fr;
  }
  .tabs-product-info__title span {
    display: none;
  }
}
@media (width <= 50.625em) and (min-width: 29.99875em){
  :root {
    --mainSlider-Base-Width: 76%;
    --thumbSlider-Base-Width: 24%;
  }
}
@media (min-width: 55.37375em) and (width <= 55.37375em){
  .product-detail-gallery {
    max-height: 26.875rem;
  }
}
@media (max-width: 24.37375em) and (width > 24.37375em){
  .thumbs-product-gallery__slide {
    max-height: 6.9375rem;
  }
}
@media (max-width: 55.37375em) and (width > 55.37375em){
  .content-product-detail__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 55.37375em) and (width > 47.99875em){
  .content-product-detail .content-product-detail__price .product-price__new, .content-product-detail .content-product-detail__price .product-price__old {
    font-size: 2rem;
  }
}
@media (width > 24.37375em) and (width <= 79.375em){
  .product-detail-size__options {
    gap: clamp( 0.5rem , 0.3892127451625rem  +  0.4545351242vw , 0.75rem );
  }
  .product-detail-actions {
    gap: clamp( 0.75rem , 0.52842549033125rem  +  0.9090702484vw , 1.25rem );
  }
  .product-detail-size__options {
    gap: clamp( 0.5rem , 0.3892127451625rem  +  0.4545351242vw , 0.75rem );
  }
}
@media (width > 24.37375em) and (width <= 61.99875em){
  .reviews-product-info__load-more {
    padding-inline: clamp( 2.25rem , 1.88560838870625rem  +  1.4950166113vw , 2.8125rem );
  }
  .reviews-product-info__load-more {
    margin-top: clamp( 1.25rem , 0.58518774916875rem  +  2.7275747508vw , 2.27625rem );
  }
  .header-reviews-product-info {
    padding-block: clamp( 1.25rem , 1.08804817275625rem  +  0.6644518272vw , 1.5rem );
  }
  .header-reviews-product-info__button {
    padding-inline: clamp( 1rem , 0.45341258305625rem  +  2.2425249169vw , 1.84375rem );
  }
}
@media (width > 24.37375em) and (width <= 47.99875em){
  .product-detail__body {
    padding-bottom: clamp( 1.875rem , 0.19849867725rem  +  6.8783068783vw , 3.5rem );
  }
  .header-reviews-product-info__title h2 {
    font-size: clamp( 1.25rem , 0.992076719575rem  +  1.0582010582vw , 1.5rem );
  }
}
@media (min-width: 24.37375em){
  .thumbs-product-gallery {
    min-width: var(--MinWidth-thumbsSlide);
  }
  .thumbs-product-gallery__swiper {
    height: 100%;
  }
  .thumbs-product-gallery__wrapper > :not(:last-child) {
    margin-bottom: var(--spaceBetweenThumbs);
  }
}
@media (max-width: 24.37375em) and (width > 20em) and (width <= 24.37375em){
  .thumbs-product-gallery__slide {
    max-height: clamp( 5.625rem , -0.37671477565rem  +  30.0085738783vw , 6.9375rem );
  }
}
@media (min-width: 29.99875em){
  .content-product-detail .content-product-detail__price .product-price__sale {
    padding-inline: 0.875rem;
  }
}
@media (width > 47.99875em){
  .product-detail__body {
    padding-bottom: 3.5rem;
  }
  .header-reviews-product-info__title h2 {
    font-size: 1.5rem;
  }
}
@media (min-width: 47.99875em){
  .reviews-product-info__reviews {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width > 55.37375em) and (width <= 79.375em){
  .content-product-detail__title {
    font-size: clamp( 2.1875rem , 1.61072014478125rem  +  1.041612416vw , 2.4375rem );
  }
  .content-product-detail .content-product-detail__price .product-price__new, .content-product-detail .content-product-detail__price .product-price__old {
    font-size: clamp( 1.75rem , 1.17322014478125rem  +  1.041612416vw , 2rem );
  }
}
@media (min-width: 55.37375em) and (width > 61.99875em){
  .product-detail-gallery {
    max-height: 33.125rem;
  }
}
@media (min-width: 55.37375em) and (width > 55.37375em) and (width <= 61.99875em){
  .product-detail-gallery {
    max-height: clamp( 26.875rem , -25.36438679245rem  +  94.3396226415vw , 33.125rem );
  }
}
@media (max-width: 55.37375em) and (width > 24.37375em) and (width <= 55.37375em){
  .content-product-detail__title {
    font-size: clamp( 1.5rem , 0.71375rem  +  3.2258064516vw , 2.5rem );
  }
}
@media (max-width: 55.37375em) and (width > 24.37375em) and (width <= 47.99875em){
  .content-product-detail .content-product-detail__price .product-price__new, .content-product-detail .content-product-detail__price .product-price__old {
    font-size: clamp( 1.5rem , 0.98415343915625rem  +  2.1164021164vw , 2rem );
  }
}
@media (width > 61.99875em){
  .reviews-product-info__load-more {
    padding-inline: 2.8125rem;
  }
  .reviews-product-info__load-more {
    margin-top: 2.27625rem;
  }
  .header-reviews-product-info {
    padding-block: 1.5rem;
  }
  .header-reviews-product-info__button {
    padding-inline: 1.84375rem;
  }
}
@media (width > 79.375em){
  .content-product-detail__title {
    font-size: 2.4375rem;
  }
  .content-product-detail .content-product-detail__price .product-price__new, .content-product-detail .content-product-detail__price .product-price__old {
    font-size: 2rem;
  }
  .product-detail-size__options {
    gap: 0.75rem;
  }
  .product-detail-actions {
    gap: 1.25rem;
  }
  .product-detail-size__options {
    gap: 0.75rem;
  }
}
@media (any-hover: hover), (pointer: fine){
  html:not([data-fls-touch]) .thumbs-product-gallery__slide:hover img {
    scale: 1.05;
  }
  html:not([data-fls-touch]) .options-dots:hover svg path {
    fill-opacity: 0.6;
  }
  html:not([data-fls-touch]) .tabs-product-info__title:hover {
    color: var(--primary-90);
  }
  html:not([data-fls-touch]) .header-reviews-product-info .select__title:hover {
    background-color: var(--buttonThirdHover);
  }
}
@media (hover: none){
  html[data-fls-touch] .thumbs-product-gallery__slide:active img {
    scale: 1.05;
  }
  html[data-fls-touch] .options-dots:active svg path {
    fill-opacity: 0.6;
  }
  html[data-fls-touch] .tabs-product-info__title:active {
    color: var(--primary-90);
  }
  html[data-fls-touch] .header-reviews-product-info .select__title:active {
    background-color: var(--buttonThirdHover);
  }
}